.App {
  max-width: 600px;
  margin: 0 auto;
}

.App-Layout {
  padding: 0 1rem 0;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */