.TouchHeader {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2.5rem;

  &-MenuItem {
    display: block;
  }

  &-SidebarButton {
    width: 3rem;
  }

  &-CartIcon {
    width: 2.5rem;
    height: 2.5rem;
  }
}
