@import 'uikit/mixins/visually-hidden.scss';

.Header {
  &-MenuItem {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(.Link_active):hover {
      .MenuItemIconSvg {
        fill: var(--active);
      }
    } 
  }

  &-MenuItemText {
    @media (max-width: 599px)  {
      @include visually-hidden;
    }
  }
}
